output/
output_old/
*~
class
*.prof
*.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
.vscode/
recycling/
build/*
*.csv
*.sh